@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["Title"] = "Roles Management";
}


@* <section class="section d-flex justify-content-center">
 *@<section class="section">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title table-title">
                        New Role
                        <a style="" class="back" asp-action="Index">
                            <i class="bi bi-arrow-left-circle-fill"></i> Back
                        </a>
                    </h5>

                    <form class="row g-3 p-2 needs-validation" method="post" novalidate>
                        <div class="col-md-12">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}